body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

body {
    padding-top: 0px;
    font-size: 100%;
}


/*Activate with * for red boxes over divs*/

{
    border: 1px solid red !important;
}

{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*---------------------------------*/

*::focus {
    outline: none;
}

@font-face {
    font-family: Helvetica;
    src: url('fonts/HelveticaLTStd-Light.otf');
}

@font-face {
    font-family: Existence;
    src: url('fonts/Existence-Light.otf');
}

.row-centered {
    display: flex;
    /* Flex Container */
    flex-wrap: wrap;
    /* Wrap the content to next line if required */
    justify-content: center;
    /* Horizontally content to center */
    align-items: center;
}

.col-centered {
    display: flex;
    /* Flex Container */
    flex-direction: column;
    /* Flex Direction - Column */
    align-self: flex-start;
    /*Align vertically from the start of de box*/
    float: none;
    margin-right: 0 auto;
}

.existence {
    font-family: Existence;
}

.yellow {
    color: #e0b07e;
}

.purple {
    color: rgb(84, 64, 139);
}

.grey {
    color: rgb(102, 102, 103);
}

.white {
    color: white;
}

.emerald {
    color: #a3c9a4;
}

.navbar .navbar-nav {
    padding: 0;
    margin: 0;
    float: none;
    display: inline-block;
    text-align: center;
}

.colornav {
    background: rgb(84, 64, 139);
    border: none;
    font-family: "Lato";
    font-size: 2em;
    font-weight: 300;
    line-height: 1em;
    color: white;
    height: auto;
}

.navbar-header {
    min-height: 60px;
    align-items: center;
    vertical-align: middle;
}

.navbar-brand {
    margin: 0;
    padding: 15px 0 0 15px;
    text-align: center;
    vertical-align: baseline;
    float: left;
}

.navbar .navbar-collapse {
    text-align: center;
    padding: 1px;
    border: 5px solid;
    border-color: rgb(84, 64, 139) !important;
    box-shadow: 1px;
    background-color: rgb(84, 64, 139) !important;
}

.navbar-nav > li {
    display: inline-flex;
    float: none;
    color: white;
    background-color: rgb(84, 64, 139) !important;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:active {
    color: white;
    background-color: rgb(84, 64, 139) !important;
}

.navbar-nav > li > a::after,
.navbar-nav > li > a::before {
    color: white;
    background-color: rgb(84, 64, 139) !important;
}

.navbar-nav > li > a:visited {
    background-color: rgb(84, 64, 139) !important;
    border-color: white;
}

.glyphicon {
    color: rgb(84, 64, 139);
    font-size: 30px;
    vertical-align: baseline;
    padding-top: 2px;
}

.navbar-header button {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 12%;
    height: auto;
    background-color: #7666a2;
    line-height: 1.5em;
    padding: 0.2em 0;
    font-size: 1em;
    border: 2px solid rgb(84, 64, 139) !important;
    outline: none;
    vertical-align: middle;
}

.navbar-header button::focus {
    outline: none;
}

.navbar-header button span::before,
.navbar-header button span::after,
.navbar-header button span::hover,
.navbar-header button span::focus,
.navbar-header button span::active,
.navbar-header button span::visited {
    background-color: #fff !important;
}

.c-hamburger--rot span {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}


/* active state, i.e. menu open */

.c-hamburger--rot span:active {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#home {
    height: 100vh;
    overflow: hidden;
}

.intro {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0;
    text-align: center;
    color: white;
    background: url(img/home.jpg) no-repeat center center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    margin: 70px 0;
    padding: 0;
    width: 100%;
    height: 90%;
}

.intro-col {
    margin: 0;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    vertical-align: middle;
}

.row-img {
    display: flex;
    justify-content: center; 
    border-bottom: 4em solid transparent;
}

.intro-img{
    min-width: 20vw;
  
}

.row-text {
    float: none;
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 1.5em;
    min-width: 100%;
}

#services {
    overflow: hidden;
    height: auto;
    min-height: 50%;
    padding: 65px;
    min-height:50vh;
}

.service {
    height: auto;
    background-color: whitesmoke;
    justify-content: ;
    align-items: baseline;
    width: 85%;
}

.serv {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    margin: 10px;
    
    min-width: 210px;
    min-height: 300px;
}

p{
    font-size: 1.5em;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
}

#us {
    min-height: 50vh;
    min-width: 100vw;
    overflow: hidden;
    margin: auto 0;
    padding: 4.5em;
    justify-content: center; /*important justify and flex for vertically align*/
    display: flex;
    flex-direction: column;
    
}

.us-container {
    padding: 0;
    display: flex;
    display: -webkit-flex;
    vertical-align: middle;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    min-height: 50vh;
    justify-content: space-around;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.us-par {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 2.3em;
    line-height: 2em;
    word-spacing: 0.30em;
    vertical-align: middle;
    text-align: justify;
}

.us-end {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2.6em;
    line-height: 1.5em;
    vertical-align: middle;
}

.bck2 {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(img/us.jpg) no-repeat center center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    align-self: center;
}


#portfolio {
    background-color: whitesmoke;
    min-height: 50vh;
    min-width: 100vw;
    overflow: hidden;
    margin: auto 0;
    padding: 2em;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}



.title {
    margin: auto 0;
    font-family: 'Lato',sans-serif;
    font-size: 2.5em;
    line-height: 1.5em; 
    padding: 1em;
    
}
#myCarousel{
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;    
}

.carousel-inner,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    min-width: 100vw;
    margin:0;
  }




#contact {
    background-color: whitesmoke;
    overflow: auto;
    margin: 0 auto;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.form-row{
    margin: auto 0;
    float: none;
}

.contact-form {
    margin: auto 0;
}

.contact-form form input.form-control,
.contact-form form textarea.form-control,
.contact-form form select.form-control {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0;
    border-radius: 0;
    color: rgb(84, 64, 139) !important;
}

.contact-form .form-group button {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 120px;
    background-color: rgb(84, 64, 139);
    line-height: 2em;
    padding: 8px 15px 5px 15px;
    font-size: 16px;
    border: none;
    outline: none;
}


/*Change the placeholder color*/

.form-control::-webkit-input-placeholder,
.form-control textarea::-webkit-textarea-placeholder {
    color: rgb(84, 64, 139) !important;
    font-size: 16px !important;
}

.form-control:-moz-placeholder,
textarea:-moz-placeholder {
    color: rgb(84, 64, 139) !important;
    font-size: 16px !important;
}

.form-control::-moz-placeholder,
textarea::-moz-placeholder {
    color: rgb(84, 64, 139) !important;
    font-size: 16px !important;
}

.form-control:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: rgb(84, 64, 139) !important;
}

.contact-form p,
form {
    font-family: Helvetica, sans-serif;
}

.contact-form form button,
.contact-form form button:hover {
    color: white !important;
    background-color: rgb(84, 64, 139);
}

.contact-form .form-control:focus {
    border-color: rgb(84, 64, 139);
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px !important;
}

.info {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 15px;
}

.mail {
    margin: 30px;
}



.el {
    color: rgb(84, 64, 139);
    padding: 0 0.4em;
}



#footer {
    min-width: 100vw;
    min-height: 10vh;
    background-color: whitesmoke;
    margin: auto 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-top: 20px;
}

@media screen and (max-device-width: 500px) and (orientation: portrait){
    .us-par{
        font-size: 2em;
        text-align: center;
    }
}
